# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
*.env
*.venv
env/
venv/
server/env/

# IDE / editor
*.idea/
*.vscode/

# OS
*.DS_Store
Thumbs.db

# Logs
*.log

# Local settings
*.env.local

# Telethon session file
*.session
*.session-journal

# Redis DB
*.rdb